/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(base.png);
    height: 604px;
    width: 777px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4 .triggers {
    width: 573px;
    height: 83px;
    position: absolute;
    left: 105px;
}

.ds4 .trigger {
    width: 99px;
    height: 100%;
    background: url(triggers.png);
    opacity: 0;
}

.ds4 .trigger.left {
    float: left;
}

.ds4 .trigger.right {
    float: right;
    background-position-x: 99px;
}

.ds4 .bumper {
    width: 102.973px;
    height: 38px;
    background: url(bumper.png) no-repeat;
    opacity: 0;
}

.ds4 .bumpers {
    position: absolute;
    width: 582px;
    height: 23px;
    left: 101px;
    top: 92.5px;
}

.ds4 .bumper.pressed {
    opacity: 1;
}

.ds4 .bumper.left {
    /* -webkit-transform: rotateY(180deg); */
    /* transform: rotateY(180deg); */
    float: left;
    transform: rotateY(180deg);
}

.ds4 .bumper.right {
    float: right;
    transform: rotateY(9deg);
}

.ds4 .touchpad {
    width: 262px;
    height: 151px;
    position: absolute;
    left: 272px;
    top: 122px;
}

.ds4 .touchpad.pressed {
    background: url(https://gamepadviewer.com/ps4-assets/touchpad.svgz) no-repeat center;
}

.ds4 .meta {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 382px;
    bottom: 216px;
}

.ds4 .meta.pressed {
    background: url(ps4-assets/meta.svgz) no-repeat center;
}

/*Not needed, but I like keeping them here for posterity*/
/*.ds4 .quadrant{
position: absolute;
background: url(ps4-assets/player-n.svgz);
height: 17px;
width: 111px;
top: 140px;
left: 240px;
}
.ds4 .p0{
background-position: 0 -6px;
}
.ds4 .p1{
background-position: 0 -28px;
}
.ds4 .p2{
background-position: 0 -49px;
}
.ds4 .p3{
background-position: 0 -70px;
}*/
.ds4 .arrows {
    position: absolute;
    width: 383px;
    height: 46px;
    top: 140px;
    left: 200px;
}

.ds4 .back, .ds4 .start {
    background: url(start.png);
    width: 22px;
    height: 36px;
    opacity: 0;
}

.ds4 .back.pressed, .ds4 .start.pressed {
    /* background-position-y: -21px; */
    /* margin-top: 2px; */
    opacity: 1;
}

.ds4 .back {
    float: left;
    transform: rotateY(180deg);
    /* width: 2px; */
}

.ds4 .start {
    float: right;
    /* width: 28px; */
    background-position: 22px 0;
}

.ds4 .abxy {
    position: absolute;
    width: 170px;
    height: 171px;
    top: 156px;
    left: 549px;
}

.ds4 .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(face.png);
}

.ds4 .button.pressed {
    background-position-y: 55px;
    /* margin-top: 5px; */
}

.ds4 .a {
    background-position: 0 0;
    bottom: 0;
    left: 57px;
}

.ds4 .b {
    background-position: -57px 0;
    top: 57px;
    right: 1px;
}

.ds4 .x {
    background-position: -113px 0;
    top: 57px;
}

.ds4 .y {
    background-position: 55px 0;
    left: 54px;
}

.ds4 .sticks {
    position: absolute;
    width: 351px;
    height: 105px;
    top: 299px;
    left: 221px;
}

.ds4 .stick {
    position: absolute;
    background: url(sticks.png);
    height: 95px;
    width: 95px;
}

.ds4 .stick.pressed.left {
    background-position-x: -96px;
}

.ds4 .stick.pressed.right {
    background-position-x: -192px;
}

.ds4 .stick.left {
    top: 0;
    left: 0;
}

.ds4 .stick.right {
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}

.ds4 .dpad {
    position: absolute;
    width: 140px;
    height: 126px;
    top: 183px;
    left: 83px;
}

.ds4 .face {
    background: url(dpad.png);
    position: absolute;
}

.ds4 .face.up, .ds4 .face.down {
    width: 50px;
    height: 59px;
}

.ds4 .face.left, .ds4 .face.right {
    width: 59px;
    height: 50px;
}

.ds4 .face.up {
    left: 44px;
    top: -9px;
    background-position: -48px 2px;
}

.ds4 .face.down {
    left: 44px;
    bottom: 0;
    background-position: 0px 0;
}

.ds4 .face.left {
    top: 35px;
    left: 2px;
    background-position: 117px 0px;
}

.ds4 .face.right {
    top: 35px;
    right: 6px;
    background-position: 59px 0px;
}

.ds4 .face.pressed {
    /* margin-top: 5px; */
    background-position-y: 59px;
}

.ds4.half {
    margin-top: -300px;
}

/*END PS4 Controller Styling*/