/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(base.png);
    height: 556px;
    width: 703px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4 .triggers {
    width: 530.8px;
    height: 83px;
    position: absolute;
    left: 86px;
}

.ds4 .trigger {
    width: 97px;
    height: 81px;
    background: url(triggers.png);
    opacity: 0;
}

.ds4 .trigger.left {
    left: 100px
}

.ds4 .trigger.right {
    float: right;
    background-position-x: 97px;
}

.ds4 .bumper {
    width: 102.973px;
    height: 39px;
    background: url(bumper.png) no-repeat;
    opacity: 0;
}

.ds4 .bumpers {
    position: absolute;
    width: 548.598px;
    height: 20px;
    left: 77px;
    top: 89px;
}

.ds4 .bumper.pressed {
    opacity: 1;  
}

.ds4 .bumper.left {
    /* -webkit-transform: rotateY(180deg); */
    /* transform: rotateY(180deg); */
    float: left;
    transform: rotateY(180deg);
}

.ds4 .bumper.right {
    float: right;
    transform: rotateY(9deg);
    left: 9px 
}

.ds4 .touchpad {
    width: 262px;
    height: 151px;
    position: absolute;
    left: 272px;
    top: 122px;
}

.ds4 .touchpad.pressed {
    background: url(https://gamepadviewer.com/ps4-assets/touchpad.svgz) no-repeat center;
}

.ds4 .meta {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 382px;
    bottom: 216px;
}

.ds4 .meta.pressed {
    background: url(ps4-assets/meta.svgz) no-repeat center;
}

/*Not needed, but I like keeping them here for posterity*/
/*.ds4 .quadrant{
position: absolute;
background: url(ps4-assets/player-n.svgz);
height: 17px;
width: 111px;
top: 140px;
left: 240px;
}
.ds4 .p0{
background-position: 0 -6px;
}
.ds4 .p1{
background-position: 0 -28px;
}
.ds4 .p2{
background-position: 0 -49px;
}
.ds4 .p3{
background-position: 0 -70px;
}*/
.ds4 .arrows {
    position: absolute;
    width: 351px;
    height: 49px;
    top: 132px;
    left: 176px;
}

.ds4 .back, .ds4 .start {
    background: url(start.png);
    width: 20.4px;
    height: 35px;
    opacity: 0;
}

.ds4 .back.pressed, .ds4 .start.pressed {
    /* background-position-y: -21px; */
    /* margin-top: 2px; */
    opacity: 1;
}

.ds4 .back {
    float: left;
    transform: rotateY(180deg);
    /* width: 2px; */
}

.ds4 .start {
    float: right;
    /* width: 28px; */
    background-position: 40px 0;
}

.ds4 .abxy {
    position: absolute;
    width: 170px;
    height: 171px;
    top: 144px;
    left: 511px;
}

.ds4 .button {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(face.png);
}

.ds4 .button.pressed {
    background-position-y: 50px;
    /* margin-top: 5px; */
}

.ds4 .a {
    background-position: 0 0;
    bottom: 14px;
    left: 35px;
}

.ds4 .b {
    background-position: -48px 0;
    top: 56px;
    right: 35px;
}

.ds4 .x {
    background-position: -97px 0;
    top: 57px;
    left: -17px
}

.ds4 .y {
    background-position: 49.2px 0;
    left: 33px;
    bottom: 116px
}

.ds4 .sticks {
    position: absolute;
    width: 351px;
    height: 105px;
    top: 273px;
    left: 171px;
}

.ds4 .stick {
    position: absolute;
    background: url(sticks.png);
    height: 93px;
    width: 93px;
}

.ds4 .stick.pressed.left {
    background-position-x: -96px;
}

.ds4 .stick.pressed.right {
    background-position-x: -192px;
}

.ds4 .stick.left {
    top: 0;
    left: 23px;
}

.ds4 .stick.right {
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}

.ds4 .dpad {
    position: absolute;
    width: 140px;
    height: 126px;
    top: 164px;
    left: 67px;
}

.ds4 .face {
    background: url(dpad.png);
    position: absolute;
}

.ds4 .face.up, .ds4 .face.down {
    width: 50px;
    height: 57.5px;
}

.ds4 .face.left, .ds4 .face.right {
    width: 59px;
    height: 50px;
}

.ds4 .face.up {
    left: 42px;
    top: -1px;
    background-position: -48px 1px;
}

.ds4 .face.down {
    left: 44px;
    bottom: 0;
    background-position: 0px 1px;
}

.ds4 .face.left {
    top: 32px;
    left: 2px;
    background-position: 114px 0px;
}

.ds4 .face.right {
    top: 32px;
    right: 14px;
    background-position: 58.5px 0px;
}

.ds4 .face.pressed {
    /* margin-top: 5px; */
    background-position-y: 56.7px;
}

.ds4.half {
    margin-top: -300px;
}

/*END PS4 Controller Styling*/